.home-footer {
    display: flex;
    align-items: center;
    justify-content: left;
    flex: 1;
    padding: 0 60px;
    gap: 40px;
}

button#send {
    background-color: var(--sky-blue);
    padding: 10px 40px;
    border-radius: 4px;
    font-size: large;
    font-weight: 700;
    color: var(--jet);
    border: none;
    box-shadow: 0 3px 3px -1px #33333355;
    cursor: pointer;
}

button#send:hover {
    background-color: var(--sky-blue-hover);
    transition: 0.3s;
}

button#send:disabled {
    background-color: var(--light-blue);
    cursor: inherit;
    color: #aaa;
}

table#resultTable {
    border: var(--onyx) 1px solid;
    padding: 0;
}

table#resultTable td {
    padding: 10px 20px;
    font-size: large;
}

td#label {
    background-color: var(--light-blue);
    color: var(--onyx);
    font-weight: 500;
}

td#prediction {
    background-color: var(--sky-blue);
    color: var(--jet);
    font-weight: 700;
}

#resultDiv {
    display: none;
}
